body {
	/*display: inline;*/
	/*flex-direction: row;*/
}

#userlist {
	margin-right: 10px;
	/*display: inline-block;*/
	/*flex-direction: column;
	justify-content: space-around;*/
}

#game-wrapper {
	display: block;
	width: 100%;
}

#sketch-wrapper {
	display: inline;
	align-self: center;
}

#chat-wrapper {
	display: inline-block;
	width: 30%;
	background-color: beige;
}

#chat-box {
	max-height: 385px;
	overflow: auto;
}

#chat-input {
	display: inline-block;
}

#chatSendButton {
	width: 20%;
}

#chatSendField {
	width: 76%;
}


