body {
}

#userlist {
}

#game-wrapper {
	display: block;
	width: 100%;
}

#sketch-wrapper {
	display: inline;
	align-self: center;
}

#chat-wrapper {
	display: inline-block;
	width: 30%;
	
}

#chat-box {
	max-height: 385px;
	overflow: auto;
	background-color: beige;
}

#chat-input-wrapper {
	display: inline-block;
	width: 100%;
}

#chat-input-field {
	width: 80%;
}

#chat-send-btn {
	width: 17%;
}
